<div class="container table-section">
  <div class="">
      <h5 class="table-heading" style="margin-top: 10px;">Credits</h5>
      <a (click) = "createData()" >
        <i class="fa fa-plus-circle open-icon"></i>
      </a>

        <!-- Modal -->
        <!-- showPop is custom CSS class and isPopOpen is boolean to open the form-->
        <div class="modal fade show" [ngClass]="{'showPop':isPopOpen}" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Credits Form</h5>
                <button type="button" class="close" (click) = "closePop()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <form [formGroup]="creditsForm" (ngSubmit)="submitData()">

                        <div class="row form-group">
                          <div class="col-25">
                            <label class="rec_iD">Rec_Id</label>
                          </div>
                          <div class="col-75">
                            <input
                                    type="number" id="unique_id" name="rec_iD"
                                    formControlName="rec_iD" class="form-control"
                                    placeholder="Unique number.."
                                    readonly>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-25">
                            <label for="date">Credit Date</label>
                          </div>
                          <div class="col-75">
                            <input type="date" id="creditDate" name="creditDate" value=""
                            formControlName="creditDate" placeholder="Date">

                            <span *ngIf="!creditDate.valid &&
                                    (creditDate.touched || userSubmitted)" class="error-block">

                                    Date must be required...
                                </span>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="creditType">Credit Type</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="creditType"
                                    formControlName="creditType" name="creditType"
                                    class="form-control" value=""
                                    placeholder="Credit Type..">

                                    <span *ngIf="!creditType.valid &&
                                    (creditType.touched || userSubmitted)" class="error-block">

                                    Credit Type must be required...
                                </span>

                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="creditAmount">Credit Amount</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="creditType"
                                    formControlName="creditAmount" name="creditAmount"
                                    class="form-control" value=""
                                    placeholder="Credit Amount..">

                                    <span *ngIf="!creditAmount.valid &&
                                    (creditAmount.touched || userSubmitted)" class="error-block">

                                    Credit Amount must be required...
                                </span>

                          </div>
                        </div>

                        <div class="row">
                          <button type="submit" id="btnSubmit"
                                  [disabled]="creditsForm.invalid"
                                  class="btn btn-warning"
                                  *ngIf="!isEdit"> Submit </button>
                        </div>

                      </form>
                    </div>
              </div>

              <div class="modal-footer">
                <button id="exampleModalClose" type="button" (click)="closePop()">Close</button>

                <button type="button" id="btnEditSave"
                        class="btn btn-primary save-button"
                        *ngIf="isEdit"
                        (click)="submitData()">Save</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  <table id="tableData" class="table table-hover table-bordered table-light">
      <thead>
        <tr>
          <th>Rec_Id</th>
          <th>Credit Date</th>
          <th>Credit Type</th>
          <th>Credit Amount</th>
          <th>Action</th>

        </tr>

      </thead>
      <tbody id="tableData_body">
        <tr  *ngFor = "let data of creditsData; let i = index">
          <td>{{data.RecId}}</td>
          <td>{{data.Date |date: 'short'}}</td>
          <td>{{data.CreditType}}</td>
          <td>{{data.Amount}}</td>

          <td>
            <a (click)="editData(data)">
            <i class="fa fa-edit edit_icon" style="font-size:16px"></i></a>

            <a (click)="deleteData(i)"
            class="delete_button"><i class="fa fa-trash delete_button" style="font-size:16px"></i></a>
          </td>

        </tr>

      </tbody>
    </table>
</div>

