

<div style="text-align: center;margin: 10px;border: 1px solid #ddd;padding: 10px;">
<highcharts-chart
[Highcharts]="Highcharts"
[options]="chartOptions"

style="width: 100%; height: 400px; display: block;"
></highcharts-chart>

</div>

<div style="text-align: center;margin: 10px;border: 1px solid #ddd;padding: 10px;">
  <highcharts-chart
  [Highcharts]="Highcharts1"
  [options]="chartOptions1"

  style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>

  </div>
