<div class="container Expense-TrackerSection">


  <div class="container" style="margin: top 100px;">
    <div class="content-nav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav_bar">

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="dashboard">DashBoard</a>
          </li>

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="weelygrid">Weekly</a>
          </li>

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="monthlygrid">Monthly</a>
          </li>

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="detailgrid">My Expenses-Detail</a>
          </li>

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="categories">Categories</a>
          </li>

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="paymenttypes">Payment-Types</a>
          </li>

          <li class="nav-item p-1">
            <a class="nav-link"
                      routerLinkActive="active"
                      routerLink="credits">Credits</a>
          </li>

      </ul>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

