<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-4">
  <div class="container-fluid">
    <a class="navbar-brand">ExpenseTracker</a>

    <div class="collapse navbar-collapse d-flex flex-row-reverse mb-1.5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item p-1" *ngIf="!authService.displayUserName">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}"
                    routerLinkActive="active"
                    routerLink="signup">Sign Up</a>
        </li>

        <li class="nav-item p-1"  *ngIf="!authService.displayUserName">
          <a class="nav-link" routerLinkActive="active" routerLink="login">Log In</a>
        </li>

        <li class="nav-item p-1" *ngIf="authService.displayUserName">
          <a class="nav-link" routerLinkActive="active">Hello, {{authService.displayUserName}}</a>
        </li>

        <li class="nav-item p-1" *ngIf="authService.displayUserName">
          <a class="nav-link" routerLinkActive="active"
            routerLink="Login" (click)="logOut()">Log Out</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
