<div class="container table-section">
  <div class="">
      <h5 class="table-heading" style="margin-top: 10px;">My Expenses_Detail</h5>
      <a (click) = "createData()" >
        <i class="fa fa-plus-circle open-icon"></i>
      </a>

        <!-- Modal -->
        <!-- showPop is custom CSS class and isPopOpen is boolean to open the form-->
        <div class="modal fade show" [ngClass]="{'showPop':isPopOpen}" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expense Form</h5>
                <button type="button" class="close" (click) = "closePop()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <form [formGroup]="expenseForm" (ngSubmit)="submitData()">

                        <div class="row form-group">
                          <div class="col-25">
                            <label class="rec_iD">Rec_Id</label>
                          </div>
                          <div class="col-75">

                            <input
                                    type="number" id="unique_id" name="rec_iD"
                                    formControlName="rec_iD" class="form-control"
                                    placeholder="Unique number.."
                                    readonly>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label class="validation-error"
                                    id="studentNameValidationError">User_Id</label>
                          </div>
                          <div class="col-75">
                            <input type="number" id="user_Id"
                                    name="user_Id"
                                    class="form-control" value=""
                                    placeholder="User Id.."
                                    formControlName="user_Id"
                                    readonly>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="eName">Exp_Name</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="expName"
                                  formControlName="expName" name="expName"
                                  class="form-control" value=""
                                  placeholder="Expense Name">

                                  <span *ngIf="!expName.valid &&
                                          (expName.touched || userSubmitted)" class="error-block">

                                      Expense Name is required.
                                    </span>

                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="eAmount">Exp_Amount</label>
                          </div>

                          <div class="col-75">
                            <input type="number" id="expAmount"
                                    formControlName="expAmount" name="expAmount"
                                    class="form-control" value=""
                                    placeholder="Expense Amount">

                                    <span *ngIf="!expAmount.valid &&
                                        (expAmount.touched || userSubmitted)" class="error-block">

                                        Expense Amount must be required...
                                    </span>
                          </div>

                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="expCategory">Exp_Category</label>
                          </div>
                          <div class="col-75">
                                  <select class="form-control"  id="expCategory"
                                    formControlName="expCategory"
                                    name="expCategory">
                                    <option *ngFor="let cat of categoriesData"
                                    value="{{cat.RecId}}">{{cat.CategoryName}}</option>
                                  </select>

                                  <span *ngIf="!expCategory.valid &&
                                        (expCategory.touched || userSubmitted)" class="error-block">

                                        Expense Category must be required...
                                  </span>

                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="ePaymentTypeId">Exp_PaymentTypeId</label>
                          </div>
                          <div class="col-75">
                                    <select class="form-control"  id="ePaymentTypeId"
                                          formControlName="ePaymentTypeId"
                                          name="ePaymentTypeId">
                                          <option *ngFor="let payt of paymentTypesData"
                                          value="{{payt.RecId}}">{{payt.PaymentType}}</option>
                                    </select>

                                    <span *ngIf="!ePaymentTypeId.valid &&
                                    (ePaymentTypeId.touched || userSubmitted)" class="error-block">

                                    Expense PaymentType must be required...
                                </span>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="expDesc">Exp_Desc</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="expDesc"
                                    formControlName="expDesc" name="expDesc"
                                    class="form-control" value=""
                                    placeholder="Expense Description..">

                                    <span *ngIf="!expDesc.valid &&
                                    (expDesc.touched || userSubmitted)" class="error-block">

                                    Expense Description must be required...
                                </span>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-25">
                            <label for="date">Date</label>
                          </div>
                          <div class="col-75">
                            <input type="date" id="date" name="expdate" formControlName="expdate" />
                           <!-- [max] = "maxDate" -->

                            <span *ngIf="!expDesc.valid &&
                                    (expdate.touched || userSubmitted)" class="error-block">

                                    Date must be required...
                              </span>
                          </div>
                        </div>


                        <div class="row">
                          <button type="submit" id="btnSubmit"
                                  [disabled]="expenseForm.invalid"
                                  class="btn btn-warning"
                                  *ngIf="!isEdit"> Submit </button>
                        </div>

                      </form>
                    </div>

              </div>
              <div class="modal-footer">
                <button id="exampleModalClose" type="button" (click)="closePop()">Close</button>

                <button type="button" id="btnEditSave"
                        class="btn btn-primary save-button"
                        *ngIf="isEdit"
                        (click)="submitData()">Save</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  <table id="tableData" class="table table-hover table-bordered table-light">
      <thead>
        <tr>
          <th>Rec_Id</th>
          <th>User_Id</th>
          <th>Exp_Name</th>
          <th>Exp_Amount</th>
          <th>Exp_Category</th>
          <th>E_PaymenType</th>
          <th>Date</th>
          <th>Exp_Desc</th>
          <th>Action</th>

        </tr>

      </thead>
      <tbody id="tableData_body">
        <tr  *ngFor = "let data of expenseData; let i = index">
          <td>{{data.RecId}}</td>
          <td>{{data.UserID}}</td>
          <td>{{data.ExpenseName}}</td>
          <td>{{data.ExpenseAmount}}</td>
          <td>{{data.CategoryName}}</td>
          <td>{{data.PaymentType}}</td>
          <td>{{data.Date|date:'short'}}</td>
          <td>{{data.ExpenseNotes}}</td>
          <td>
            <a (click)="editData(data)">
            <i class="fa fa-edit edit_icon" style="font-size:16px"></i></a>

            <a (click)="deleteData(data.RecId)"
            class="delete_button"><i class="fa fa-trash delete_button" style="font-size:16px"></i></a>
          </td>

        </tr>

      </tbody>
    </table>
</div>
