<div class="container table-section">
  <div class="">
      <h5 class="table-heading" style="margin-top: 25px;">My Monthly Expenses_Detail</h5>

  </div>

  <table id="tableData" class="table table-hover table-bordered table-light"
          style="margin-top: 25px;">
      <thead>
        <tr>
          <th>Rec_Id</th>
          <th>User_Id</th>
          <th>Exp_Name</th>
          <th>Exp_Amount</th>
          <th>Exp_Category</th>
          <th>E_PaymentTypeId</th>
          <th>Date</th>
          <th>Exp_Desc</th>
          <!-- <th>Action</th> -->

        </tr>

      </thead>
      <tbody id="tableData_body">
        <tr  *ngFor = "let data of expenseData; let i = index">
          <td>{{data.RecId}}</td>
          <td>{{data.UserID}}</td>
          <td>{{data.ExpenseName}}</td>
          <td>{{data.ExpenseAmount}}</td>
          <td>{{data.CategoryName}}</td>
          <td>{{data.PaymentType}}</td>
          <td>{{data.Date|date:'short'}}</td>
          <td>{{data.ExpenseNotes}}</td>
          <!-- <td>
            <a (click)="editData(data)">
            <i class="fa fa-edit edit_icon" style="font-size:16px"></i></a>

            <a (click)="deleteData(i)"
            class="delete_button"><i class="fa fa-trash delete_button" style="font-size:16px"></i></a>
          </td> -->

        </tr>

      </tbody>
    </table>

    <div class="total-amount">
      <label><h4>Total Expenses: ${{this.sumOfMonthly}}</h4></label>
    </div>
</div>

