/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/ngx-toastr/toastr.css");

/* ----------------FOR sign up form styles------------ */

 /* Validation styles */

 .ng-invalid.ng-touched {
  border-color: red;
 }

 .error-block {
   color: red;
 }

 .sign-header {
  color: #ffffff;
  font-weight: 200;
  font-family: "McLaren", cursive;
 }

 .image-button {
   border: 0.5px solid black;
   background-color: rgb(199, 195, 195);
   float: right;
 }

 nav{
   background-color: #f88928;
 }

 nav .container-fluid a.navbar-brand{
   color: #ffffff;
 }

 .login-header {
   background-color: #f88928;
   color: #ffffff;
   font-weight: 500;
   text-transform: uppercase;
   font-size: 20px;
 }

 .login-button {
  background-color: #f88928;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
 }

 /* LINKS */

 .content-nav ul li a:link,
 .content-nav ul li a:visited {

  text-decoration: none;
  text-transform: uppercase;
  font-size: 150%;
  color: #e67e22;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-botton 0.4s, color 0.4s;
}



.content-nav ul li a:hover,
.content-nav ul li a.active {
  color: #555;
  border-bottom: 1px solid #555;
}

.content-nav ul li {
    display: inline-block;
    margin-left: 40px;
}

.navbar-nav.nav_bar{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.showPop {
  display: block !important;
}

/* // this is to roll the form... */
.modal {
  overflow: auto;
}


.open-icon {
  display: block;
  font-size: 140%;
  color: #e67e22;
  margin-bottom: 10px;
  float: right;
}

.edit_icon {
  font-size: 170%;
  color: #e67e22;
  margin-right: 5px;
}

.delete_button {
  color: #e67e22;
  margin-left: 5px;
}

/* LINKS */

a .open-icon:link,
a .open-icon:visited {

    color: #e67e22;
    transition: color 0.2s;
}

a .open-icon:hover,
a .open-icon:active {
    color: #555;
}

a .edit_icon:link,
a .edit_icon:visited {

    color: #e67e22;
    transition: color 0.2s;
}

a .edit_icon:hover,
a .edit-icon:active {
    color: #555;
}

a .delete_button:link,
a .delete_button:visited {

    color: #e67e22;
    transition: color 0.2s;
}

a .delete_button:hover,
a .delete_button:active {
    color:  #555;
}

/* ----------------FOR Table styles------------ */

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* Style the label to display next to the inputs */
label {
  padding: 6px 6px 6px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
th{
  background-color: #f88928;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: small;
}

tr:nth-child(even){
  background:rgb(241, 238, 238);
}


.bg-theme{
  background-color: #f88928 !important;
}

.color-theme{
 color: #f88928 !important;
}
